/* CSS reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #9E7B2B; /* color of the draggable thumb */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #BF9534 /* color of the draggable thumb on hover */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #D6A73A;/* color of the track */
    border-radius: 10px;
  }
  /* body {
    margin: 0;
    font-size: 2vw;
    height: 100%;
    width: 100%;
  } */
  .pseudo-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('./images/Gods_Eye_Reduced.svg'); 
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(241, 241, 241, 0.8), rgba(241, 241, 241, 0.8)),
              url('./images/Gods_Eye_Reduced.svg'); */
  }
  .container {
    margin: 0;
    padding: 0;
    font-size: 2vw;
    height: 100vh;
    width: 100vw;
    /* background-image: url('./images/Gods_Eye_Reduced.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    z-index: 1;
  }
  .link_to_admin {
    margin-left: 80%;
    color: #D6A73A; /* Set the link color to the beautiful gold color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9); 
    /* background-color: blue; */
  }
  #log_in_link {
    text-decoration: none; /* Remove underlines from links */
  }
  .link_to_admin:hover {
    color: #BF9534; 
  } 
  .paragraphs {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    display: flex;
    /* background-color: blueviolet; */
  }
  .icon-wrapper {
    display: inline-block; /* Set the images to appear inline with the text */
    /* margin-left: 2%;  */
    /* Adjust the margin as needed to control spacing */
  }
  #diamond_img {
    margin-top: 50%;
    margin-left: 25%;
    margin-right: 5%;
    margin-bottom: 9%;
    padding-left: 15%;
    padding-right: 15%;
    height: 70%;
    width: 25%;
    /* background-color: aqua; */
    z-index: 1;
  }
  #para_about {
    margin-left: 20%;
    /* background-color: aliceblue;     */
  }
  #para_author {
    margin-left: 1%;
    /* background-color: aliceblue;       */
  }
  #para_contact {
    margin-right: 20%;
    /* padding-right: 5%; */
    /* background-color: aliceblue;       */
  }
  .paragraphs a {
    text-decoration: none; /* Remove underlines from links */
    color: #D6A73A; /* Set the link color to the beautiful gold color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9); 
  } 
  .paragraphs a:hover {
    color: #BF9534; /* Change the link color on hover to another gold shade */
  }
  .ss_cover_container {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    /* box-shadow: 10px 5px 5px black; */
    /* background-color: blue; */
    z-index: 1;
  }
  .hover-effect {
    transition: filter 0.8s ease; /* Add a smooth transition on hover */
  }
  .hover-effect:hover {
    filter: brightness(75%); /* Darken the image */
  }
  #ss_cover_img {
    box-shadow: 10px 5px 5px black;
    z-index: 1;
  }
  .pre_order_container {
    margin-top: 2%;
    margin-left: 41%;
    margin-right: 41%;
    /* background-color: blueviolet; */
    z-index: 1;
  }
  #para_pre_order {
    font-size: 200%;
    text-decoration: none; /* Remove underlines from links */
    color: #D6A73A; /* Set the link color to the beautiful gold color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    z-index: 1; 
  } 
  #para_pre_order:hover {
    color: #BF9534; /* Change the link color on hover to another gold shade */
  }
  .purchase_ebook_container {
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 40%;
    /* background-color: blueviolet; */
    z-index: 1;
  }
  #para_purchase_ebook {
    font-size: 75%;
    text-decoration: none; /* Remove underlines from links */
    color: #D6A73A; /* Set the link color to the beautiful gold color */
    margin-left: 21%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    z-index: 1; 
  }
  #para_purchase_ebook:hover {
    color: #BF9534; /* Change the link color on hover to another gold shade */
  }
  .About_img_container {
    /* padding-left: 65%;
    background-attachment: fixed */
    /* margin-top: 15%; */
    margin-left: 5%;
    margin-right: 5%;
    /* margin-bottom: 0%; */
    background-color: whitesmoke;
    /* background-color: blue; */
    z-index: 1;
  }
  #About_img {
    padding-left: 70%;
    padding-right: 3%;
    /* background-attachment: fixed */
    z-index: 1;
  }
  .header_img_container {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    height: 119px;
    /* background-color:#d1c0ac; */
    /* background-color: blueviolet; */
    z-index: 1;
  }
  #header_img {
    /* margin-top: 10%; */
    /* margin-bottom: 5%; */
    margin-top: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
    /* background-color: blueviolet; */
    border-radius: 0%;
    /* float: right;
    height: 100%;     */
  }
  .about_container {
    /* height: 15%; */
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-left: 6% ;
    padding-right: 6%;
    padding-bottom: 6%;
    border-radius: 0%;
    background-color: #d1c0ac;
    /* background-color: blueviolet; */
    z-index: 1;
  }
  .Author_img_container {
    /* padding-left: 65%;
    background-attachment: fixed */
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: whitesmoke;
    /* background-color: blue; */
    z-index: 1;
  }
  #Author_img {
    padding-left: 60%;
    padding-right: 3%;
    /* background-attachment: fixed */
    z-index: 1;
  }
  .author {
    /* margin-top: 10%; */
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-left: 6% ;
    padding-right: 6%;
    padding-bottom: 6%;
    background-color: whitesmoke;
    /* background-color: blueviolet; */
    z-index: 1;
  }
  .Contact_img_container {
    /* padding-left: 65%;
    background-attachment: fixed */
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: whitesmoke;
    /* background-color: blue; */
    z-index: 1;
  }
  #Contact_img {
    padding-left: 60%;
    padding-right: 3%;
    /* background-attachment: fixed */
    z-index: 1;
  }
  .contact_us {
    /* margin-top: 10%; */
    padding-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 6% ;
    padding-right: 6%;
    padding-bottom: 6%;
    background-color: whitesmoke;
    /* background-color: blue; */
    z-index: 1;
  }
  .emptyDiv {
    height: 5%;
    /* background-color: red; */
    z-index: 1;
  }
  .news_letter {
    margin-left: 35%;
    margin-right: 35%;
    /* background-color: blueviolet; */
    z-index: 1;
  }
  #para_news {
      color: #D6A73A; /* Set the link color to the beautiful gold color */
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9); 
  } 
  #para_news:hover {
      color: #BF9534; /* Change the link color on hover to another gold shade */
  }
  #link{
    text-decoration: none; /* Remove underlines from links */ 
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* FUN IDEA */
  /* img {
    position: static;
    width: 600px;
    height: 750px;
  
    box-shadow: 0 0 10px rgba(12, 13, 30, 0.3);
  
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 2;
  } */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
  
    
    
  
  
  
  
  
  
  
  
  
  
  
  